.article-title {
    font-size: larger;
    color: red;
    background-color: black;
    font-weight: bolder;
    font-family: cursive;
}

.article-title-2 {
    font-size: larger;
    color: red;
    background-color: black;
    font-weight: bolder;
    font-family: cursive;
}